/* ============================================ modal custom style =================================================*/
body > div:nth-child(3) > div > div {
  margin: auto auto 50px auto !important;
}
/* @media screen and (min-width: 1400px) {
  body > div:nth-child(3) > div > div {
    border-radius: 0;
    max-width: 75% !important;
    min-width: 75% !important;
  }
} */
body > div:nth-child(3) > div > div {
  border-radius: 0;
  max-width: 61% !important;
  min-width: 61% !important;
}

/* =============================================== image container style =========================================*/
@media screen and (min-width: 640px) {
  .image-container {
    padding: 50px 51px 32px;
    margin-right: 11px;
    border-color: #737373;
    margin-bottom: 18px;
  }
 
}

.image-container p {
  width: 8.625rem;
  line-height: 1.15;
  letter-spacing: 1.73px;
  font-size: 13px;
}

/* ==================================================== form title style ========================================= */
.form-title {
  font-size: 18px;
  margin-bottom: 10px;
  padding: 10.5px 0;
  border-bottom: 1px var(--main-color) solid;
}
.after-title::after {
  content: "";
  width: 44px;
  height: 4px;
  border-radius: 3px;
  background-color: rgba(35, 170, 235, 0.14);
  position: absolute;
  top: 24px;
  left: 0;
}

/* ================================================== form inputs style ===========================================*/
.personal-info-input {
  /* margin: 0 0 15px 13px; */
  width: 100%;
  /* width: 401px; */
  background-color: #737373;
  /* width: 400px; */

}
@media screen and (min-width: 1280px) {
  .personal-info{
    width: 78%;
    height: fit-content;
  
  
    background-color: aquamarine;
  }
 
}


input[type='checkbox']:checked{
   background-color: #2764ac;
}

.input-margin{
  /* margin-right: 26px; */
}
.label{
  line-height: 1.15;
  margin-bottom: 4px;
}

select {
  margin-bottom: 10px;
}

@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .personal-info-input {
    width: auto;
  }
}

/*add new button */
#root
  > section
  > div.mx-auto.h-screen.overflow-auto.w-11\/12
  > div
  > div
  > button
  > span {
  font-size: 13px !important;
}
#root
  > section
  > div.mx-auto.w-11\/12.h-screen.overflow-auto
  > div
  > div
  > button {
  height: 30px;
}
/* form btn */
.btn {
  width: 85px;
  height: 30px;
  font-size: 13px;
}
