.form-title{
    font-size: 18px;
    
    margin-bottom: 10px; 
    padding: 10.5px 0;
    border-bottom: 1px var(--main-color) solid;
}
.after-title::after{
    content: '';
    width: 44px;
    height: 4px;
    border-radius: 3px;
  background-color: rgba(35, 170, 235, 0.14);
  position: absolute;
  top: 24px;
  left: 0;
}
.image-container{
    padding: 52px;
    border-color: #737373;
}
.image-container p{
  width: 8.625rem;
  line-height: 1rem;
  letter-spacing: 1.73px;
  font-size: 13px;
}
.personal-info-input{
    width: 25.188rem;
    margin: 0 23.8px 15px 13px;
}
.office-select{
    width: 68.688rem;
    margin-bottom: 15px;
}
.input-select{
    width: 33.313rem;
    margin-bottom: 15px;

}

#root > main > div > div > div > button > span{
    padding: 6px 14px;
    width: 98px;
}

