.sidebar-active{
    background-color: var(--second-color);
    border-color:  var(--third-color);
  }
.side-item:hover{
    background-color: #2765AC;
    border-color:  var(--third-color) ;
  }

  .sidebar{
    min-width: 106px ;
    max-width: 106px ;
  }