:root{
  --main-color:#23AAEB;
  --second-color:#2765AC;
  --third-color:#27B40C;
  --muted:#8997A4;
}
body{
  background-color: #F7F8F9;

}

.main-color{
  color: var(--main-color);
}

.bg-main{
  background-color: var(--main-color);
}
.muted{
  color:var(--muted);
}
.bg-muted{
  background-color: var(--muted);
}
.bg-danger{
  background-color: #FF6A6A;
}

.sign-in-bg{
  background-color: var(--third-color);
}

body{
  overflow-y: hidden;
}

  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
    width: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--muted);
  }
  @media screen and (min-width: 1400px) {
    .main-content{
      grid-template-columns: 1fr 1fr 1fr ;
    }
   
  }
  @media screen and (min-width: 1880px) {
    .main-content{
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
   
  }


