:root{
  --main-color:#23AAEB
}
.main-color{
  color: #23AAEB;
}
.bg-main{
  background-color: #23AAEB;
}
.muted{
  color:#8997A4;
}
.bg-muted{
  background-color: #8997A4;
}
.bg-danger{
  background-color: #FF6A6A;
}
.sidebar-active{
  background-color: #2765AC;
  border-left: solid #27B40C 4px;
}


.container {
  padding: 0 35px;
  /* width: 85% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 85% !important; */
}