:root{
  --main-color:#23AAEB;
  background-color: #F7F8F9;
}
/* :root > nav > div > div > ul {
  align-items: center !important;
} */
.main-color{
  color: #23AAEB;
}

.bg-main{
  background-color: #23AAEB;
}
.muted{
  color:#8997A4;
}
.bg-muted{
  background-color: #8997A4;
}
.bg-danger{
  background-color: #FF6A6A;
}
.sidebar-active{
  background-color: #2765AC;
  border-left: solid #27B40C 4px;
}
.sign-in-bg{
  background-color: #27B40C;
}

